
<html>
    <%- include('../common/header') -%>
    <script>//
        var sources = <%- JSON.stringify(sources) %>;
//    </script>
    <body ng-app="megalog">
    <controller ng-controller="LogController" ng-cloak>
        <header role="header">
            <%- include('../common/nav') -%>
        </header>
        <main ng-cloak>
            <div class="container">
                <div id="filter">
                    <%- include('filter') -%>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Show page {{filter.pageId+1}} in total {{pagesCount}} page<mutil ng-show="pagesCount>1">s</mutil></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">                            
                            <%- include('list') %>
                        </div>
                    </div>
                </div>


            </div>
        </main>


        <%- include('../common/footer') -%>
        <%- include('modal') -%>
        <script src="/controller/log-controller.js" type="text/javascript"></script>
    </controller>

</body>
</html>
